{% extends "home.html" %}

{% block pagecontent %}
    <div class="hero">
        <div class="intro-text">
            <div class="logo-wrapper"><h1 class="h1 serif">Lawyer<br/></h1>
                <h1 class="h1">Tools</h1>
            </div>
            <div class="info-wrapper"><h2 class="h2">Lawyer Tools ist das digitale Assistenzsystem für Ihre
                Anwaltskanzlei. <br/>Wir sind transparent, sicher und unabhängig.<br/></h2>
            </div>
            <!--<div class="button">
              <div class="button-text">Account erstellen</div>
            </div>-->
        </div>
        <div class="tool-wrapper">
            <a href="/legaldrop" data-w-id="7ef4dc9a-6967-f7a1-fafc-be423d75a8f2" class="tool-colorbox w-inline-block">
                <div class="app-title-wrap">
                    <div class="app-number">1</div>
                    <h2 class="tool-name serif">Legal </h2>
                    <h2 class="tool-name">Drop</h2></div>
                <div class="tool-box-description-wrapper"><p class="app-description">Mit Legal Drop versenden Sie Ihre
                    Daten End-zu-End verschlüsselt an Ihre Klienten.<br/></p></div>
                <div data-w-id="48e7b9bb-3dbc-b6ee-d0aa-2ece9c8a0964" class="button">
                    <div class="button-text">Tool öffnen</div>
                </div>
            </a>
            <a href="/datedelta" data-w-id="91be628f-13a9-beb1-3c52-bc882fbefc00" class="tool-colorbox w-inline-block">
                <div class="app-title-wrap">
                    <div class="app-number">2</div>
                    <h2 class="tool-name serif">Date</h2>
                    <h2 class="tool-name">Delta</h2></div>
                <div class="tool-box-description-wrapper"><p class="app-description">Datums Delta berechnet die Anzahl
                    Tage zwischen zwei Daten.<br/></p></div>
                <div class="button">
                    <div class="button-text">Tool öffnen</div>
                </div>
            </a>
            <a href="/duedate" data-w-id="6e5c4298-daae-e052-3fd0-b293fb6b96ef"
               class="tool-colorbox inactive w-inline-block">
                <div class="app-title-wrap">
                    <div class="app-number">3</div>
                    <h2 class="tool-name serif">Due</h2>
                    <h2 class="tool-name">Date</h2></div>
                <div class="tool-box-description-wrapper"><p class="app-description">Berechnen Sie Ihre Frist in
                    Sekundenschnelle<br/></p></div>
                <div class="button">
                    <div class="button-text">Tool öffnen</div>
                </div>
            </a>
            <a href="/visiblearticle" data-w-id="dd77d366-cfe9-2f67-8399-b45179b2b09a"
               class="tool-colorbox inactive w-inline-block">
                <div class="app-title-wrap">
                    <div class="app-number">4</div>
                    <h2 class="tool-name serif">Visible</h2>
                    <h2 class="tool-name">Article</h2></div>
                <div class="tool-box-description-wrapper"><p class="app-description">Schnelle Popups von Gesetzestexten
                    bei Ihrer Onlinerecherche<br/></p></div>
                <div class="button">
                    <div class="button-text">Tool öffnen</div>
                </div>
            </a>


            <a href="/founderbot" class="tool-colorbox w-inline-block">
                <div class="app-title-wrap">
                    <div class="app-number">5</div>
                    <h2 class="tool-name serif">Founder</h2>
                    <h2 class="tool-name">Bot</h2></div>
                <div class="tool-box-description-wrapper"><p class="app-description">Bekannt vom Swisslegaltech Hackathon 2017!<br/></p></div>
                <div class="button">
                    <div class="button-text">Tool öffnen</div>
                </div>
            </a>
            <a href="/flightdelay" class="tool-colorbox inactive w-inline-block">
                <div class="coming-soon">
                    <div class="coming-soon-text">Coming soon</div>
                </div>
                <div class="coming-soon-wrap">
                    <div class="app-title-wrap">
                        <div class="app-number">6</div>
                        <h2 class="tool-name serif">Flight</h2>
                        <h2 class="tool-name">Delay</h2></div>
                    <div class="tool-box-description-wrapper"><p class="app-description">Überpruefung und Durchsetzung
                        Ihrer Fluggastrechte<br/></p></div>
                    <div class="button">
                        <div class="button-text">Tool öffnen</div>
                    </div>
                </div>
            </a>
            <a href="/speedlimits" class="tool-colorbox inactive w-inline-block">


                <div class="app-title-wrap">
                    <div class="app-number">7</div>
                    <h2 class="tool-name serif">Speed</h2>
                    <h2 class="tool-name">Limits</h2></div>
                <div class="tool-box-description-wrapper"><p class="app-description">Was droht Ihrem Klienten bei
                    einer
                    Geschwindigkeitsübertretung<br/></p></div>
                <div class="button">
                    <div class="button-text">Tool öffnen</div>
                </div>

            </a>
            <a href="/highdrive" class="tool-colorbox inactive w-inline-block">
                <div class="coming-soon">
                    <div class="coming-soon-text">Coming soon</div>
                </div>
                <div class="coming-soon-wrap">
                    <div class="app-title-wrap">
                        <div class="app-number">8</div>
                        <h2 class="tool-name serif">High</h2>
                        <h2 class="tool-name">Drive</h2></div>
                    <div class="tool-box-description-wrapper"><p class="app-description">Was droht Ihrem Klienten bei
                        Substanzmissbrauch im Strassenverkehr<br/></p></div>
                    <div class="button">
                        <div class="button-text">Tool öffnen</div>
                    </div>
                </div>
            </a>

            <a href="/chatbotte" class="tool-colorbox inactive w-inline-block">
                <div class="coming-soon">
                    <div class="coming-soon-text">Coming soon</div>
                </div>
                <div class="coming-soon-wrap">
                    <div class="app-title-wrap">
                        <div class="app-number">9</div>
                        <h2 class="tool-name serif">Chat</h2>
                        <h2 class="tool-name">Botté</h2></div>
                    <div class="tool-box-description-wrapper"><p class="app-description">
                        Ein Chatbot für die Erstberatung bei XY<br/></p></div>
                    <div class="button">
                        <div class="button-text">Tool öffnen</div>
                    </div>
                </div>
            </a>

            <a href="/labourlaw" class="tool-colorbox inactive w-inline-block">
                <div class="coming-soon">
                    <div class="coming-soon-text">Coming soon</div>
                </div>
                <div class="coming-soon-wrap">
                    <div class="app-title-wrap">
                        <div class="app-number">10</div>
                        <h2 class="tool-name serif">Labour</h2>
                        <h2 class="tool-name">Law</h2></div>
                    <div class="tool-box-description-wrapper"><p class="app-description">Berechnen Sie Kuendigungsfrist,
                        Sperrzeiten und Lohnfortzahlungspflicht<br/></p></div>
                    <div class="button">
                        <div class="button-text">Tool öffnen</div>
                    </div>
                </div>
            </a>
            <a href="/shabscanner" class="tool-colorbox inactive w-inline-block">
                <div class="coming-soon">
                    <div class="coming-soon-text">Coming soon</div>
                </div>
                <div class="coming-soon-wrap">
                    <div class="app-title-wrap">
                        <div class="app-number">11</div>
                        <h2 class="tool-name serif">SHAB</h2>
                        <h2 class="tool-name">Scanner</h2></div>
                    <div class="tool-box-description-wrapper"><p class="app-description">Überwachen Sie Firmen und
                        Personen.<br/></p></div>
                    <div class="button">
                        <div class="button-text">Tool öffnen</div>
                    </div>
                </div>
            </a>
            <a href="/watchdog" class="tool-colorbox inactive w-inline-block">
                <div class="coming-soon">
                    <div class="coming-soon-text">Coming soon</div>
                </div>
                <div class="coming-soon-wrap">
                    <div class="app-title-wrap">
                        <div class="app-number">12</div>
                        <h2 class="tool-name serif">Watch</h2>
                        <h2 class="tool-name">Dog</h2></div>
                    <div class="tool-box-description-wrapper"><p class="app-description">Verfolgen Sie Änderungen
                        ausgewählter Gesetze<br/></p></div>
                    <div class="button">
                        <div class="button-text">Tool öffnen</div>
                    </div>
                </div>
            </a>
            <a href="/blockchainer" class="tool-colorbox inactive w-inline-block">
                <div class="coming-soon">
                    <div class="coming-soon-text">Coming soon</div>
                </div>
                <div class="coming-soon-wrap">
                    <div class="app-title-wrap">
                        <div class="app-number">13</div>
                        <h2 class="tool-name serif">Blockchain</h2>
                        <h2 class="tool-name">Hash</h2></div>
                    <div class="tool-box-description-wrapper"><p class="app-description">
                       Speichern Sie Hashes unabänderbar in der BLockchain<br/></p></div>
                    <div class="button">
                        <div class="button-text">Tool öffnen</div>
                    </div>
                </div>
            </a>
            <a href="/ai" class="tool-colorbox inactive w-inline-block">
                <div class="coming-soon">
                    <div class="coming-soon-text">Coming soon</div>
                </div>
                <div class="coming-soon-wrap">
                    <div class="app-title-wrap">
                        <div class="app-number">14</div>
                        <h2 class="tool-name serif">AI</h2>
                        <h2 class="tool-name">Timeline</h2></div>
                    <div class="tool-box-description-wrapper"><p class="app-description">
                        Automatisches Erstellen einer Fall-Timeline für den raschen
                        Überblick eines Datenhaufens.

                        <br/></p></div>
                    <div class="button">
                        <div class="button-text">Tool öffnen</div>
                    </div>
                </div>
            </a>

        </div>
    </div>
{% endblock %}